.projects__nav-list {
  z-index: 100;
  position: absolute;
  margin: 0;
  padding: 16px 16px 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 13, 38, 1);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  height: 0;
  opacity: 0;
  transition: visibility .1s, opacity .1s, height .1s linear;
}

@media screen and (min-width: 580px) {
  .projects__nav-list {
    padding: 0 39px;
    height: auto;
    position: relative;
    visibility: visible;
    opacity: 1;
    flex-direction: row;
    background-color: #001337;
  }
}

@media screen and (min-width: 769px) {
  .projects__nav-list {
    height: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .projects__nav-list {
    padding: 0 48px;
  }
}