.projects__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .projects__nav-list {
    height: 48px;
  }
}