.projects {
  position: relative;
  padding: 40px 0;
  background-color: #001337;
  display: flex;
  justify-content: center;
}
 
@media screen and (min-width: 426px) and (max-width: 767px) {
  .projects {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    padding: 80px 0 62px;
  }
}